/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.app {
  /*color: red;*/
}

.navbar {
  color: #981a21 !important;
}
.navbar .btn{
  color: #981a21 !important;
}

.sidebar-left {
  background: white !important;
}

.title {
  color: white;
  background-image: url(/assets/backgrounds/video-placeholder-c3fb4a7c4584b8edbd058cf2af9604e75d7283e7c457b84ae49f8f223aa60a78.png);
}

.title h1 {
  margin: 50% 0 50% 0;
}

.privilege h4 {
  color: #981a21;
  margin-bottom: 15%;
}

.privilege .item span {
  float: left;
  margin-right: 5%;
}

.privilege .item .description {
  padding: 8% 0 0 3%;
  font-size: 15px;
  color: #981a21;
}

.privilege .item {
  margin-bottom: 20%;
}

.privilege .fa-circle {
  color: #981a21;
}

.teachers {
  background-image: url(/assets/backgrounds/icons-blue-d58d595ea2893000f785d800d3b8d1dd7b294e92bec27aa45d493a1a87b359ce.jpg);
  color: white;
}

.teachers img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  transition: all linear .25s;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  position: relative;
  top: 0;
}

.teachers h3 {
  margin-bottom: 20%;
}

.tutor {
  margin-bottom: 15%;
}

.tutor img {
  float: left;
}

.tutor.right {
  float: right;
}
.tutor.description {

}

.price-title {
  background-color: #F578AC;
  font-size: 15px;
}

.price-image {
  width: 30%;
  float: left;
}

.entry {
  background-color: #1B1B1B !important;
  background-image: url(/assets/backgrounds/geometry-18839e55dd009584d71428f22212a821610be81de7b362587579975c21446891.png)
}

.entry .btn-primary {
  background-color: #981a21;
  border-color: #981a21
}

.entry .info {
  margin-top: 20%;
}

.entry .info a {
  color: #981a21;
}

.entry .btn-primary:active {
  background-color: #660404;
  border-color: #981a21
}

.entry .btn-primary:hover {
  background-color: #660404;
  border-color: #981a21
}

/*.price-description {
  width: 65%;
  float: right;
}*/


/* Examples */

#lightbulb {
  font-size: 100px;
  display: block;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 10px 0;
}

.chat-user-avatar {
  font-size: 40px;
  background: #ccc;
  padding: 5px 10px;
}

.feature-icon {
  font-size: 44px;
  padding: 0;
  line-height: 68px;
  width: 72px;
  text-align: center;
  opacity: .8;
  border: 3px solid;
  border-radius: 200px;
  height: 72px;
  margin-bottom: 20px;
}

.feature-icon.fa-gamepad {
  line-height: 60px;
}

.feature-icon.fa-tachometer {
  line-height: 60px;
}

.app-content-loading {
  text-align: center;
  height: 100%;
  width: 100%;
  background: #fff;
  position: relative;
}

.loading-spinner {
  position: absolute;
  font-size: 50px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.carousel-example-content {
  position: absolute;
  font-size: 50px;
  line-height: 50px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -50px;
}


.carousel-item {
  display: block;
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.carousel {
  padding: 20px;
  overflow: visible;
}

.carousel-inner {
  position: relative;
  overflow: visible;
}

.carousel>.item, .carousel-item {
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.carousel-item {
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: -moz-transform 500ms;
  transition: transform 500ms;
}

[drag-to-dismiss]{
  transform: translate(0,0); /* NOTE: this is required to prevent mobile webkit issues */
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity: 1;
}

.notices-container {
  overflow-x: hidden;
}

.dismiss {
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity: 0.5;
}

.dismitted {
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  -moz-transition: opacity 300ms, -moz-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  opacity: 0;
}

.list-group-item-home {
  padding: 20px;
}

pre {
  text-align: left !important;
}

input.scrollable-header {
  border-bottom: 3px solid #ccc;
}

.toucharea {width: 100%; height: 100%;}
