$color: #EB5745;

#two {
  // background: #8F2041;
  z-index: 1;
  background: white;
  & .ruby-icon {
    position: absolute;
    left: calc(50% - 177.5px);
    top: calc(50% - 177.5px);
    opacity: 1;
    z-index: -1;
  }
  & .row-1 {
    display: table;
    width: 100%;
    height: 100%;
    & h1 {
      margin-top: 50px !important;
      font-size: 36px;
    }
  }

  & svg {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  & p {
    margin: 2px;
  }

  & .bubble {
    & span {
      width: 200px;
      display: inline-block;
      text-align: center;
      position: relative;
      left: -34px;
      color: $color;
      &.hidden {
        margin-top: 5px;
        opacity: 0;
      }
      & a {
        color: $color;
        &:hover {
          text-decoration: none;
        }
      }
    }
    position: absolute;
    opacity: 0;
    color: white;
    z-index: 101;
    &.one {
      left: 6.5%;
      top: calc(50% - 61.5px);
    }
    &.two {
      right: 6.5%;
      top: calc(50% - 61.5px);
    }
    &.three {
      right: calc(50% - 100px - 23px);
      top: calc(80% - 61.5px);
    }
    &.four {
      right: 6.5%;
      top: calc(80% - 61.5px);
    }
    &.five {
      left: 6.5%;
      top: calc(80% - 61.5px);
    }
  }
}
