// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: "RaleWayLight";
  src: font-url('Raleway-Light.ttf') format("truetype");
}

@font-face {
  font-family: "RaleWayExtraLight";
  src: font-url('Raleway-ExtraLight.ttf') format("truetype");
}

@font-face {
  font-family: "RaleWayThin";
  src: font-url('Raleway-Thin.ttf') format("truetype");
}

$pink: #D13350;
$red: #981a21;
$bright-red: #EB5745;
$gray: #74777b;

nav {
  ul{
    li:nth-of-type(1) {
      $c: #EB5745;
      &.tab-current {
        & a {
          color: $c;
          &:after {
            background: $c;
          }
        }
      }
      & a {
        &:hover {
          color: $c;
        }
      }
    }
    li:nth-of-type(2) {
      $c: #981a21;
      &.tab-current {
        & a {
          color: $c;
          &:after {
            background: $c;
          }
        }
      }
      & a {
        &:hover {
          color: $c;
        }
      }
    }
    li:nth-of-type(3) {
      $c: #1B79B7;
      &.tab-current {
        & a {
          color: $c;
          &:after {
            background: $c;
          }
        }
      }
      & a {
        &:hover {
          color: $c;
        }
      }
    }
    li:nth-of-type(4) {
      $c: #F578AC;
      &.tab-current {
        & a {
          color: $c;
          &:after {
            background: $c;
          }
        }
      }
      & a {
        &:hover {
          color: $c;
        }
      }
    }
    li:nth-of-type(5) {
      $c: #6a7989;
      &.tab-current {
        & a {
          color: $c;
          &:after {
            background: $c;
          }
        }
      }
      & a {
        &:hover {
          color: $c;
        }
      }
    }
  }
}

.text-danger {
  color: $red;
}

.center-text {
  text-align: center;
}

@font-face {
  font-family: 'Roboto';
  src: url('google-fonts/apache/robotocondensed/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Scala';
  src: url('google-fonts/ufl/ubuntu/Ubuntu-Light.ttf') format('truetype');
}

/* Styles */
html,body {
  height:100%;
  margin:0;
  font-family: 'Scala';
}

body {
  overflow-x: hidden;
  // uncomment for production
  overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}


.scroll_down {
    opacity: 0;
    position: absolute;
    bottom: 4%;
    height: 100px;
    left: 0;
    width: 100%;
    z-index: 89;
    color: #fff;
    text-align: center;
    & .mouse {
    	position: relative;
    	display: block;
    	width: 36px;
    	height: 58px;
    	margin: 0 auto;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
    	border: 3px solid #fff;
    	border-radius: 23px;
    }

    & .mouse .mouse-mouvement {
    	position: absolute;
    	display: block;
    	top: 29%;
    	left: 50%;
    	width: 8px;
    	height: 8px;
    	margin: -4px 0 0 -4px;
    	background: #fff;
    	border-radius: 50%;
    	-webkit-animation: scroll-ani 4s linear infinite;
    	-moz-animation: scroll-ani 4s linear infinite;
    	animation: scroll-ani 4s linear infinite;
    }
    & .mouse-message {
    	font-size: 14px;
    	text-align: center;
    	display: block;
    	padding: 20px 0 0;
    	color: #fff;
    }
}

.content {
  height:100%;
  min-height:100%;/*for mozilla*/
  & .content-body {
    max-width: 1440px;
    margin: 0 auto;
    height:100%;
    min-height:100%;/*for mozilla*/
    position: relative;
  }
}

html>body .content {
  height:100%;
  position: relative;
  color: $gray;
  & > .center-text-wrap {
    text-align: center;
    display: table;
    height: 100%;
    width: 100%;
    & > .center-text {
      vertical-align: middle;
      display: table-cell;
      & h1 {
        font-size: 80px;
      }
    }
  }
}

#video_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  & video {
    visibility: visible;
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
  }
}

@media (min-aspect-ratio: 16/9) {
  video {
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-aspect-ratio: 16/9) {
  video {
    width: auto !important;
    height: 100% !important;
  }
}

#one {
  color: white;
  background: rgba(#981a21, 0.5);
  & #line-1, #line-2, #line-3 {
    opacity: 0;
  }
  & #line-3 {
    font-size: 22px;
    margin-top: 30px;
  }
}

#three {
  background: #EB5745;
}
