.content#four {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: #43525B;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 3;
    text-align: center;
    width: 100%;
  }
  #triangle-topleft {
  	width: 0;
  	height: 0;
  	border-top: 500px solid #F1A3C3;
  	border-right: 500px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    // opacity: 0;
  }
  #triangle-bottomright {
    width: 0;
    height: 0;
    border-bottom: 500px solid #F1A3C3;
    border-left: 500px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    // opacity: 0;
  }
  #pricing-table {
    background-color: rgba(white, 0.5);
    box-shadow: 0 0 20px rgba(black, 0.25);
    height: 85%;
    width: 85%;
    display: flex;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1224px;
    max-height: 704px;
    & .pricing-option {
      transition: all linear .2s;
      position: relative;
      &:hover, &.selected {
        transform: scale(1.05);
        box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
      }
      &.selected {
        & .pricing-header {
          background-color: #2CC185;
        }
      }
      & .pricing-info-wrapper {
        display: flex;
        flex-direction: column;
        height: 80%;
        & > div {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          &:nth-of-type(1) {
            flex-direction: column;
          }
        }
      }

      & .pricing-header {
        background-color: #F578AC;
        color: white;
        text-align: center;
        padding: 30px 0;
        font-weight: bold;
        font-size: 22px;
      }
      & .price {
        color: black;
        font-size: 72px;
        font-weight: bold;
        text-align: center;
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
        justify-content: center;
      }
      & .rubbles {
        // text-align: center;
        // color: #5a5a5a;
      }
      & img {
        height: 100px;
      }
      & button {
          border: 2px solid #78909C;
          background: transparent;
          height: 50px;
          display: block;
          width: 80%;
          margin: 0 auto;
          color: #74777b;
          text-transform: uppercase;
          font-size: 16px;
          font-family: 'RaleWayLight';
          outline: none;
          transition: all linear .2s;
          cursor: pointer;
          position: relative;
          &.selected {
              background-color: #2CC185;
              border-color: #2CC185;
              color: white;
              box-shadow: 0 0 10px #2CC185;
          }
          &:hover {
              background-color: #F578AC;
              border-color: #F578AC;
              color: white;
              box-shadow: 0 0 10px #F578AC;
          }
          &:active {
              background-color: darken(#F578AC, 15%);
              border-color: darken(#F578AC, 15%);
              box-shadow: 0 0 15px darken(#F578AC, 15%);
              top: 2px;
          }
      }
      background-color: rgba(white, 0.5);
      box-shadow: 0 0 20px rgba(black, 0.25);
      height: 80%;
      flex: 1;
      margin: 0 3%;
    }
  }
}

// @media all and (max-height: 800px) {
  .options-list {
    max-width: 1000px;
    margin: 0 auto;
    & div {
      display: inline-block;
      width: 50%;
      &:nth-child(even) {
        float: right;
      }
      &:nth-child(odd) {
        float: left;
      }
    }
  }
// }
